.puzzleOff {
    display: none;
}
.puzzleOn {
    width: 60vw;
    display: flex;
    flex-direction: column;
}
.puzzleMenu {
    width: 60vw;
    display: flex;
    flex-direction: row;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(pexels-kai-pilger-1341279.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 5px 5px black;
    overflow-x: hidden;
}
#text {
    width: 60vw;
    font-size: 25px;
    height: 60vh;
    overflow-y: auto;    
}
#choiceMenu button {
    padding: 15px;
    margin: 5px;
    height: 50px;
    width: 200px;
    box-shadow: 0;
    border-radius: 5px;
    transition: .4s;
    background-color: rgba(255,255,255,0);    
    border-color: lightblue;
    border-width: 3px;
    color: white;
}
.restartButton {
    background-color: red;
    font-size: 25px;
    color: white;
    margin-top: 40px;
    border-radius: 5px;
    border-color: white;
    border-width: 3px;
}
button:hover {
    box-shadow: 0 6px 8px 0 rgba(255,255,255,0.24), 0 8px 25px 0 rgba(255,255,255,0.19);
}
.rightSide {
    width: 35vw;
}
.clock {
    font-size: 50px;
    width: 90vw;
}
.list {
    width: 20vw;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: lightblue;
}
::-webkit-scrollbar-thumb:hover {
    background: lightslategray;
}
/*Large Tablet*/
@media screen and (max-width: 992px) {
    .rightSide {
        width: 20vw;
        margin-right: none;
    }
    #text {
        width: 80vw;
        overflow-x: hidden;
    }
    .storyText {
        width: 80vw;
    }
    .clock {
        width: 20vw;
    }
}
/*Medium Tablet*/
@media screen and (max-width: 768px) {
    body{
        flex-direction: column;
    }
    .storyText{
        width: 95vw;
    }
    #text{
        width: 97vw;
        height: 50vh;
        overflow-x: hidden;
    }
    button {
        padding: 10px;
        height: 50px;
        width: 100px;
    }
    #rightSide {
        display: flex;
        flex-direction: row;
    }
    .restartButton {
        width: auto;
    }
    .list {
        width: 80vw;
    }
    .clock {
        width: 80vw;
    }
}
/*Mobile*/
@media screen and (max-width: 480px) {
    .rightSide {
        font-size: 20px;
    }

}